[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
requests = "==2.6.0"
pyopenssl = "==22.0.0"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
